@import 'custom.scss';
@import 'calendlyWidget.scss';
@import 'transitions.scss';
@import 'typography.scss';
@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';
@import 'node_modules/hamburgers/_sass/hamburgers/hamburgers.scss';

body {
  color: var(--light);
  background-color: var(--dark);
}
h1 {
  color: var(--light);
  font-family: 'Montserrat', sans-serif;
  font-size: 5.733rem;
  font-weight: 900;
  line-height: 1;
  text-transform: uppercase;
}
h2 {
  color: var(--light);
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 5.6rem;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
}
h3 {
  color: var(--light);
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
}
h4 {
  color: var(--light);
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.333rem;
  font-weight: 700;
  line-height: 1.5;
  text-transform: uppercase;
}
blockquote {
  color: var(--light);
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.866rem;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
}
p {
  color: var(--light);
  font-family: 'Montserrat', sans-serif;
  font-size: 100%;
  font-weight: inherit;
  line-height: 1;
}
hr {
  border-top: 4px solid var(--light);
  opacity: 0.75;
}

.container {
  max-width: 1240px;
}

.custom-button {
  background-color: transparent;
  border: none;
  border-color: var(--light);
  border-style: solid;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 0;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 100%;
  font-weight: inherit;
  letter-spacing: 4px;
  line-height: 1.875rem;
  text-transform: uppercase;

  &:active,
  &:hover {
    background-color: transparent !important;
    border-color: var(--primary) !important;
  }
  &:active:focus,
  &:focus {
    box-shadow: 0 0 0 0.2rem var(--primary) !important;
  }
}
